[type="checkbox"].filled-in:checked + span:not(.lever)::after 
  border: 2px solid var(--blue);
  background-color: var(--blue);

[type="checkbox"].filled-in:checked + span:not(.lever)::before 
  border-right: 2px solid var(--yellow);
  border-bottom: 2px solid var(--yellow);